form {
    height: 100%;
    margin: 1rem;

    & #elevated-menu {
        /*background: white;*/
        display: flex;
        flex-direction: row;
        gap: 1rem;
        position: fixed;
        bottom: 50px;
        right: 50px;
        padding: 1rem;
    }

    & .inputs {
        display: grid;
        grid-template-columns: auto auto;
        gap: 0.5rem;
    }
}
